---
import Layout from '@/layouts/Layout.astro';
import { CalibrateForm } from '@/components/CalibrateForm';
---

<Layout meta={{ title: 'Home' }}>
  <main class="mx-24 mt-80">
    <div class="flex flex-col items-center">
      <h1 class="text-4xl">Calibrator</h1>
      <CalibrateForm />
    </div>
  </main>
</Layout>
