---
import Layout from '@/layouts/Layout.astro';
import { CalibrateForm } from '@/components/CalibrateForm';
---

<Layout meta={{ title: 'Home' }}>
  <main class="flex h-svh items-center justify-center">
    <div class="flex flex-col items-center gap-24">
      <h1 class="text-4xl uppercase">Calibrator</h1>
      <CalibrateForm client:load />
    </div>
  </main>
</Layout>
